* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.item {
    float: left;
    background-size: cover;
    width: 33.33%;
    height: 33.33%;
    background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1571397604534&di=21712363363379bf2a0d1e8418a7a165&imgtype=0&src=http%3A%2F%2Fpic.962.net%2Fup%2F2019-2%2F2019218144112653750.gif) no-repeat center center;
    ;
}